/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    /* шрифт */
    --aсcent-font: 'PressStart2P-Regular';
    --main-font: 'Inter-Variable';
    --font-weight-title: 785;
    --font-weight-content: 465;
    /* фон */
    --background-color: #000;
    --accent-color: #00CC14;
    /* градиентый фон */
    --background-image: repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #004306);
    /* лейбл */
    --accent-color-transparency: rgb(0 204 20 / 60%);
    --color-shadow: #000;

    --button__text-color: #00CC14;
    --floppy-color: #00CC14;
    --fill__sparks-color: #FF0000;
    --fill__contour-color: #00CC14;
    --fill__core-color: #00CC14;
    --background__heart-color: #00CC14;
}
  
:root.theme-light {
    /* шрифт */
    --aсcent-font: 'PressStart2P-Regular';
    --main-font: 'Inter-Variable';
    --font-weight-title: 700;
    --font-weight-content: 400;
    /* фон */
    --background-color: #fff;
    --accent-color: #000;
    /* градиентый фон */
    --background-image: repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    /* лейбл */
    --accent-color-transparency: rgb(0 0 0 / 60%);
    --color-shadow: #fff;

    --button__text-color: #fff;
    --floppy-color: #fff;
    --fill__sparks-color: #FF0000;
    --fill__contour-color: #000;
    --fill__core-color: #000;
    --background__heart-color: #000;
}

